<%- include('header') %>

<link rel="stylesheet" href="/css/manager.css">

<div class="manager-container">

<h2>Your Posted Products</h2>
<ul>
  <% products.forEach(p => { %>
    <li><strong><%= p.name %></strong>: <%= p.description %> - ₱<%= p.price %></li>
  <% }) %>
</ul>

<p><a href="/manager/products/add">Add New Product</a></p>
<a href="/dashboard"><button type="button">Go to Dashboard</button></a>

</div>
<%- include('footer') %>
