<%- include('header') %>

<h2>Your Product Orders</h2>

<% if (orders.length === 0) { %>
    <p>No orders for your products yet.</p>
  <% } else { %>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Product Name</th>
          <th>Customer</th>
          <th>Order Date</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(order => { %>
          <tr>
            <td><%= order._id %></td>
            <td><%= order.product.name %></td>
            <td><%= order.customer.username %></td>
            <td><%= new Date(order.createdAt).toLocaleString() %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
  
  <a href="/dashboard"><button type="button">Go to Dashboard</button></a>


<%- include('footer') %>
